<h1><i class="fas fa-compact-disc"> Álbuns</i></h1>
<table class='table table-sm'>
  <tr>
    <th>Capa</th>
    <th>Album</th>
    <th>Banda</th>
    <th>Opções</th>
  </tr>

  <% @albums.each do |album| %>
    <tr>
      <td><%= image_tag(album.cover, height: "256", width: "256") if album.cover.attached? %>
      <td><%= album.name %></td>
      <td><%= album.band.name %></td>
      <td>
        <div class="btn-group" role="group">
          <%= link_to 'Ver', album_path(album), class: "btn btn-secondary fas fa-eye" %>
          <%= link_to 'Editar', edit_album_path(album), class: "btn btn-secondary fas fa-pen-nib" %>
        </div>
      </td>
    </tr>
  <% end %>
</table>
