<p>
  <strong>Artista:</strong>
    <%= @record.artist %>
</p>
 
<p>
  <strong>Album:</strong>
    <%= @record.album %>
</p>
<%= link_to 'Edit', edit_record_path(@record) %>
<%= link_to 'Destroy', records_path(record), method: :delete, data: { confirm: 'Sure?' } %>
<%= link_to 'Back', records_path %>
