<%= form_with model: @album, local: true do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@album.errors.count, "Erro!") %>
        albuma não foi salva:
      </h2>
      <ul>
        <% @album.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
  <%= f.label :name %><br>
  <%= f.text_field :name, required: true %>
  </p>

  <p>
  <%= f.label :details %><br>
  <%= f.text_field :details %>
  </p>

  <p>
  <%= f.label :band_id %><br>
  <%= f.collection_select(:band_id, @bands, :id, :name, include_blank: 'Selecione') %>
  <%= link_to "Não está na lista?", new_band_path %>
  </p>

  <p>
  <%= f.label :cover %>
  <%= f.file_field :cover %>
  </p>

  <p>
  <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', albums_path, class: "btn btn-info"%>
