<%= form_with model: @band, local: true do |f| %>
  <% if @band.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@band.errors.count, "Erro!") %>
        Banda não foi salva:
      </h2>
      <ul>
        <% @band.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
  </p>

  <p>
  <%= f.label :artist %><br>
  <%= f.text_field :artist %>
  </p>

  <p>
  <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', bands_path %>
