<h1><i class="fas fa-user-friends"> Bandas</i></h1>

<table class='table'>
  <tr>
    <th>Nome</th>
    <th>Artistas Participantes</th>
    <th>Opções</th>
  </tr>

  <% @band.each do |band| %>
    <tr>
      <td><%= band.name %></td>
      <td><%= band.artist %></td>
      <td>
        <div class="btn-group" role="group" aria-label="Basic example">
        <%= link_to ' Ver', band_path(band), class: "btn btn-secondary fas fa-eye" %>
        <%= link_to ' Editar', edit_band_path(band), class: "btn btn-secondary fas fa-pen-nib" %>
        <%= link_to ' Remover banda', band_path(band), method: :delete, data: { confirm: 'Sure?' }, class: "btn btn-danger fas fa-trash"%>
        </div>
      </td>
    </tr>
  <% end %>
</table>
<%= link_to 'Back', root_url , class: "btn btn-info"%>
